{% extends "::base.html.twig" %}

{% block body %}

<html>
<head>
	<title>Utilisateur</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
	<link type="text/css" rel="stylesheet" href="assets/css/global.css" />
	<link type="text/css" rel="stylesheet" href="assets/css/color-button.css" />
	<link type="text/css" rel="stylesheet" href="assets/css/element.css" />
	<!-- js Boots_from -->
	<script src="assets/js/jquery.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/custom.js"></script>
	<!-- end Boots_from -->
</head>

<body data-spy="scroll" data-target=".subnav" data-offset="50" data-twttr-rendered="true">


<div class="main">
	<div class="container">
		<div class="row">
			<div class="tabbable span9">
						<div class="box-table widget">
							<div class="widget-content">
						      <div class="title">
						      	<h3>Historique des locations de films pour NOMUTILSATEUR</h3>
						      </div><!-- end title -->
								<table id="tableUser" class="table table-striped table-bordered table-condensed">
									<thead>
									  <tr>
										<th>Titre</th>
										<th>Date de location</th>
										<th>Descriptif</th>
										
									  </tr>
									</thead>
									<tbody>
									  <tr>
										<td>Blanche fesse</td>
										<td>10/12/2012</td>
										<td>Nouveau record du monde du plus gros gang bang impliquant des nains</td>
										
									  </tr>
									  <tr>
										<td>La Bande a picsou</td>
										<td>10/12/2013</td>
										<td>Il aime l'or ce juif de picsou ! Tout ca pour acheter encore plus de sous !</td>
									
									  </tr>
									</tbody>
								</table>
								<div class="title">
									<h3>Ajouter/Supprimer des Jetons pour NOMUTILISATEUR</h3>
								</div>
								<div id="ajoutJetons" class="visible">
									<table class="table table-striped table-bordered table-condensed">
										<tbody>
											<tr>
												<td colspan= "3" id="montant"><input type="text" value="0"/></td>

												<td colspan= "3" id="caseAjout"><a href="#" onclick="ajoutJetons" class="button"><span class="user">Supprimer ce montant</span></a></td></td>
												<td colspan= "3" id="caseAjout"><a href="#" onclick="ajoutJetons" class="button"><span class="user">Ajouter ce montant </span></a></td></td>
											</tr>

										</tbody>
									</table>
								</div>
						      <div class="footer-table">
				            	<div class="navigation pagination pull-right">
									<ul>
										<li><a href="#">←</a></li>
										<li><a class="active" href="#">1</a></li>
										<li><a href="#">2</a></li>
										<li><a href="#">3</a></li>
										<li><a href="#">→</a></li>
									</ul>
								</div>
						      </div>
						    </div>
					    </div><!-- end box-table style1-->
		</div>
	</div><!-- end container -->
</div><!-- end main -->


</body>


</html>


{% endblock %}