{% extends "::base.html.twig" %}

{% block body %}

<html>
<head>
	<title>Fiche film</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
	<link type="text/css" rel="stylesheet" href="assets/css/global.css" />
	<link type="text/css" rel="stylesheet" href="assets/css/color-button.css" />
	<!-- js Boots_from -->
	<script src="assets/js/jquery.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/custom.js"></script>
	<!-- end Boots_from -->
</head>

<body data-spy="scroll" data-target=".subnav" data-offset="50" data-twttr-rendered="true">
<div class="main">
	<div class="container">
		<div class="row">
				<div class="row">
					<div class="box-content-widget box-video-play span9">
						<div class="row">
							<div class="title bg-title span9">
								<h3>FILM</h3>
							</div>
						</div>
						<div class="widget">
							{{film.lienFilm}}
						</div>
					</div><!-- end video-play -->	<div class="box-content-widget box-video-play span9">
						<div class="row">
							<div class="title bg-title span9">
								<h3>BANDE ANNONCE</h3>
							</div>
						</div>
						<div class="widget">
							{{film.lienBA}}
						</div>
					</div><!-- end video-play -->
				</div>

				<div class="row">
					<div class="box-content-widget span9">
						<div class="row">
							<div class="title bg-title span9">
								<h3>Description</h3>
							</div>
						</div>
						<div class="widget">
							<div class="widget-content-pd">
								
								{{film.description}}
								
								

							</div>
						</div><!-- widget -->
					</div><!-- box-content-widget -->
				</div><!-- row -->
		</div>
	</div><!-- end container -->
</div><!-- end main -->
<script type="text/javascript">

</script>
</body>
</html>

{% endblock %}