.modifier{
	background:url(//localhost/templatesFini/assets/img/icons/modifier.gif) no-repeat 8px 1px;
	text-indent:30px;
	display:block;
}

.ajouter{
	background:url(//localhost/templatesFini/assets/img/icons/add.gif) no-repeat 8px 1px;
	text-indent:30px;
	display:block;
}

.delete{
	background:url(//localhost/templatesFini/assets/img/icons/delete.gif) no-repeat 8px 1px;
	text-indent:30px;
	display:block;
}

.user{
	//background:url(//localhost/templatesFini/assets/img/icons/user.gif) no-repeat 250px 1px;
	text-indent:30px;
	display:block;
}

.logominiature{
    position:relative;
    float:left;
    padding:3px;
    margin-top: 1px;
    max-width: 34px;
}

.logo{
    max-width: 100%;
    //width:10%;
    position:absolute;
    float:left;
    //top:540px;
    //margin-left: 21%;
    margin-left: 400px;
}

.boiteLog{
    margin-top: 25%;
}

.widget{
	width: 140%;
}

#widgetAccueil{
    width: 100%;
}

.cachee {
   display: none;
}

.visible {
   display: inline;
}

.table tr td input {
	width: 100%;
	margin-left: -5px;
}

#caseSuppression{
	border-top:0px;
	border-bottom:0px;
	border-right:0px;
	background-color:transparent;
}

#caseModifier{
	border:0px;
	background-color:transparent;
}

#caseAjout{
	text-align: center;
}
